<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="./css/aruac.css">
    <link rel="stylesheet" type="text/css" href="./css/toggle-switch.css">
    <link rel="stylesheet" href="./css/languages.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./css/footer-distributed-with-address-and-phones.css">
    <link rel="stylesheet" href="../node_modules/react-image-gallery/styles/css/image-gallery.css">


    <link rel="stylesheet" href="./css/App.css"></link>


    <title>aruac</title>
  </head>

  <body>

      <!------------------------------------------------------------------
                                   NAVBAR
       ------------------------------------------------------------------->
      <a href="#" class="btn-menu collapse" id="toggle"><span></span></a>
      <div class="hidden-nav">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li id="filmes_bt"><a href="#portifolio">ARUAC</a></li>
              <li><a href="/produtora">PRODUTORA</a></li>
              <li><a href="/diretores">DIRETORES</a></li>
              <li><a href="/contato">CONTATO</a></li>
              <!--<li><span class="lang-sm" lang="en"></span></li>-->
            </ul>
          </div>
        </nav>
      </div>

      <div id="root"></div>

      <footer class="footer-distributed">
        <div class="footer-left">
          <div class="footer-links text-footer">
            <a href="index.html">ARUAC</a>
            <a href="info.html">PRODUTORA</a>
            <a href="diretores.html">DIRETORES</a>
            <a href="contato.html">CONTATO</a>
            <!--<span class="lang-sm" lang="en"></span>-->
            <br><hr>
            <div class="footer-icons">
              <a href="https://www.facebook.com/aruacfilmes/"><i class="fa fa-facebook"></i>@aruacfilmes</a>
              <a><i class="fa fa-phone"></i>+55-21-99279-5004</a>
              <a href="mailto:aruacfilmes@gmail.com?Subject=Contato%20Aruac"><i class="fa fa-envelope"></i>aruacfilmes@gmail.com</a>
            </div>
          </div>
        </div>
      </footer>

  </body>
  <script src="bundle.js"></script>
  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/aruac.js"></script>
</html>
