/*client/css/App.css*/

.button-col {
    width:100px;
    text-align:center;
}
.desc-col {
    width:300px;
    text-align:left;
}
table {
    counter-reset: tableCount;
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}
.counterCell {
    text-align: center;
    width:50px;
}
.button-center {
    text-align: center;
}

.frame {
    overflow-y: auto;
    height: 600px;
}

.image-gallery {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.95);
}

.Modal .fa-pen {
  font-size: 16px;
  color: #999900;
  text-align: right;
}

.Modal .fa-trash {
  font-size: 16px;
  color: #990000;
  text-align: right;
}
.Modal {
    position: relative;
    top: 60px;
    margin: 0 auto;
    background-color: #F6F6F6;
    width: 70%;
    border: 1px solid #F6F6F6;
    border-radius: 4px;
    padding: 20px;
    z-index: 5;
}


.Modal:focus { outline:0; }

.Update {
    z-index: 99;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
}
.button-center {
    padding-top: 20px;
    text-align: center;
}
