* { box-sizing: border-box; }
body { background-color: #F6F6F6; }
/************************************************
                    BUTTON
************************************************/
.btn-menu {  position: fixed;  display: block; width: 50px; height:50px; margin-right: 18px; top: 0; width: 100%; z-index: 3; background-color: #F6F6F6;  }
.btn-menu span {  margin: 0 auto;  position: relative;  top: 22px;}
.btn-menu span:before, .btn-menu span:after {  position: absolute;  content: '';}
.btn-menu span, .btn-menu span:before, .btn-menu span:after {  width: 20px;  height: 3px;  background-color: #000000;  display: block;  border-radius: 1px;}
.btn-menu span:before {  margin: -7px 0 0;}
.btn-menu span:after {  margin: 7px 0 0;}
.collapse span {  transition-duration: 0s;  transition-delay: .2s;}
.collapse.open span {  background-color: rgba(255, 255, 255, 0);  transition-delay: 0s;}
.collapse span:before {  transition-property: margin, transform;  transition-duration: .2s;  transition-delay: .2s, 0;}
.collapse.open span:before {  margin-top: 0;  transform: rotate(45deg);  transition-delay: 0, .2s;}
.collapse span:after {  transition-property: margin, transform;  transition-duration: .2s;  transition-delay: .2s, 0;}
.collapse.open span:after {  margin-top: 0;  transform: rotate(-45deg); transition-delay: 0, .2s;}

.main {
    margin-top: 40px;
    z-index: 1;
}

/************************************************
                    NAVBAR
************************************************/
.hidden-nav {
    background:#F6F6F6;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    transition: top 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    box-sizing: border-box;
    z-index: 3;
    margin: 0 auto;
}

.hidden-nav:hover {
    top: 0;
}

#toggle:hover ~ .hidden-nav {
    top: 0;
}

.navbar {
    background-color: #F6F6F6;
    font-family: 'Quicksand', sans-serif;
    float: none;
    font-size: 16px;
    margin: 0 auto;
}

.navbar .nav li {
    background-color: #F6F6F6;
}

.navbar .nav li:hover a {
    color: red;
}
/*
@media (min-width:768px) {
    #nav_center {
        width: 100%;
        text-align: center;
    }
}*/

.esconde-nav {
    top: -50px;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
/************************************************
                FILTER MENU
************************************************/

.filter-menu {
    padding-top: 70px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
}

.filter-menu label {
    cursor: pointer;
}

/************************************************
                    LOGO
************************************************/

.aruac-logo {
    text-align: center;
    padding-bottom: 200px;
}

/************************************************
                    MASONRY
************************************************/

.masonry {
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
}

.overlay-bg {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.overlay-text {
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 5%;
    bottom: 10%;
    right: 5%;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: .5s ease;
}

.overlay-text hr {
    margin-right: 50px;
}

/* mobile will show overlay text always */
@media only screen and (max-width: 600px) {
  .overlay-text {
      opacity: 1;
  }
}

.icone:hover .overlay-text{
  opacity: 1;
}

.icone:hover .overlay-bg{
  opacity: 0.4;
}

/* logo */

.logo img {
    max-width: 50%;
    height: auto;
    width: auto\9; /* ie8 */
}

.lightbox {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lightbox div {
  background-color: rgba(0, 0, 0, 1);
}
/************************************************
                    TEXTO
************************************************/
input {
 outline: none !important;
}

label {
 outline: none !important;
}

.Modal hr {
    height: 1px;
    background-color: black;
    opacity: 0.15;
    margin-top: 15px;
    margin-bottom: 15px;
}

.diretores hr {
    height: 1px;
    background-color: black;
    opacity: 0.15;
}

p {
    text-indent: 50px;
}

.text-timeline {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
.text-common {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.text-modal {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.text-cred {
    text-align: left;
    font-size: 14px;
}

.text-modal-title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

.text-modal-subtitle {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.text-modal-subtitle hr {
  border: 0;
  height: 1px;
}

.text-title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}

.text-menu {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
.text-aruac {
    font-family: 'Quicksand', sans-serif;
}

.text-footer {
    font-family: 'Quicksand', sans-serif;
}

.cartazes {
    display: inline-block;
    padding: 5px;
    max-width: 45%;
}

.well {
    background-color: #DDDDDD !important;
}

.premio {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.citacao {
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
.citacao li {
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
.first-box{padding:10px;background:#9C0; height: 150px;}
.second-box{padding:10px; background:#39F; height: 150px;}
.third-box{padding:10px;background:#F66; height: 150px;}
.fourth-box{padding:10px;background:#cd486b; height: 150px;}

.contato div{
    color: #262626;
}

iframe {
    align-content: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
