.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;

	padding: 20px 20px;
	margin-top: 40px;
}

.footer-distributed .footer-left hr {
    opacity: 0.10;
    margin: 7px;
}

.footer-distributed .footer-left{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 100%;
}

/* Footer links */

.footer-distributed .footer-links a{
	line-height: 1.8;
	text-decoration: none;
	color: #d4d4d4;
    padding-right: 20px;
}

.footer-distributed .footer-links i {
    display: inline-block;
	background-color:  #33383b;
	color: #d4d4d4;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	vertical-align: middle;
    margin-right: 3px;
}

.footer-distributed .footer-icons a {
	width: 30px;
	height: 30px;
	cursor: pointer;

	color: #d4d4d4;
	text-align: center;
	line-height: 30px;

	margin-right: 3px;
	margin-bottom: 3px;
}

@media only screen and (max-width:768px) {
    .footer-distributed .footer-links i {
        font-size: 15px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    
    .footer-distributed .footer-icons a {
        width: 22px;
        height: 22px;
    }
}

.footer-icons .fa-youtube {
	background-color: #b31217!important;
}

.footer-icons .fa-facebook-f {
	background-color: #3b5998!important;
}

.footer-icons .fa-instagram {
	background-color: #8a3ab9!important;
}

.footer-icons .fa-whatsapp {
	background-color: #128c7e!important;
}

.footer-icons .fa-envelope {
	background-color: #111111!important;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 768px) {

	.footer-distributed {
		font: bold 10px sans-serif;
	}

    .footer-distributed {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

}
